
  body{
    
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* Alinear horizontalmente */
    align-items: center; /* Alinear verticalmente */
    margin: 0%;
    height: 100vh;

    
  }

.content{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;

  }

.display{
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    text-align: center;
  }

.pad{
  
  margin-top: 15px;
  flex-grow: 1;
  
  }

button{
  border: 1px solid black; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  background-color: #007bff;
  margin: 2px;
  
  }

.numbersOperators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.numbersOperators button {
  flex: 1 0 20%; /* 4 columnas */
  box-sizing: border-box;
  }

button:hover {
  background-color: #0056b3; 
  transform: scale(1.05);    
  transition: background-color 0.3s, transform 0.2s;
  }


